# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Doxygen output
doxygen_out/

# Mac Stuff
.DS_Store
*.swp
*~.nib
*.build/
DerivedData/
Debug/

*.xcodeproj/
!*.xcodeproj/project.pbxproj

*.mode1v3
*.mode2v3

# Windows stuff

# Visual Studio 2012
*.suo
*.sdf
*.filters
*.user
*.cdf
*.cache
*.obj
*.ilk
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.pch
*.exp
*.idb
*.rep
*.xdc
*.pdb
*_manifest.rc
*.bsc
*.sbr
*.xml
*.metagen
*.bi
*.opensdf
*.dll
*.lib
*.log
Debug/*
Release/*


